---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>Exploring the <strong>Galaxy!</strong></h1>
<h2>Welcome to our Exploring Distant Worlds Blog! We're here to share interesting facts and discoveries about distant worlds and stars in our galaxy. Whether you're into stargazing or just curious about space, our blog is your go-to place for learning about the universe. Join us on a journey to explore the wonders of space, from planets to stars and beyond. Get ready for straightforward insights, cool facts, and a bit of cosmic exploration!</h2>

<img alt="pine" src="/images/pine.png" width="50" />